<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../sass/simakov/crud.scss" />
    <title>CRUD-Simakov</title>
  </head>
  <body>
    <a href="../../index.html" class="link">Home</a>

    <div id="myDIV" class="header">
      <h2 style="margin: 5px">My To Do List</h2>
      <input
        type="text"
        class="todo-input"
        id="myInput"
        placeholder="Title..."
      />
      <span class="addBtn" id="addBtn">Add</span>
    </div>

    <ul id="myUL"></ul>

    <script src="../../js/simakov/crud.js" type="module"></script>
  </body>
</html>
