<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../sass/rusin/async-search.scss" />
    <title>Async-search</title>
  </head>
  <body>
    <a href="../../index.html" class="link">Home</a>
    <div class="conteiner">
      <form action="submit" class="js-search search">
        <div class="wrapper js-wrapper">
          <input class="search-input" type="text" name="country" />
        </div>

        <button class="search-button">Search country</button>
      </form>
      <button class="add js-add">Add country</button>

      <ul class="weather-list js-list"></ul>
    </div>

    <script src="../../js/rusin/async-search.js" type="module"></script>
  </body>
</html>
